<!-- user-page.component.html -->
<div class="user-page-container">
  <header class="header">
    <div class="logo">Facecheck</div>
    <nav class="navigation">
      <ul>
        <li><a routerLink="/main-page/home">Home</a></li>
        <li><a routerLink="/main-page/about">About Us</a></li>
        <li><a routerLink="/main-page/pricing">Pricing</a></li>
      </ul>
    </nav>
    <div class="user-actions">
      <!-- Кнопка выхода из системы -->
      <button class="logout-btn" (click)="logout()">Logout</button>
    </div>
  </header>

  <div class="user-content">
    <h1>Welcome to your dashboard</h1>
    <!-- Содержимое страницы пользователя -->
  </div>
</div>
